.proyecto{
    height: 300px;
    max-width: 500px;
    margin: 30px auto;
}

.proyecto1,.proyecto2,.proyecto3{
    padding-top: 140px;
}

.portada-title{
    max-width: 400px;
}

.portada-bienvenida{
    font-size: 30px;
}

.portada-soy{
    font-size: 44px;
    width: 100%;
}

.main__portada{
    background-image: url("../img/portada-tablet.png");
}

.sobremi-foto{
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}


.contacto-correo p,.contacto-tel p{
    font-size: 18px;
}

@media (min-width: 700px) {
    .portafolio-container{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .habilidades-container{
        gap: 70px;
    }

}

@media (min-width: 800px){

    .habilidades-container{
        display: grid;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
}

@media (min-width: 1300px){

    .habilidades-container{
        grid-template-columns: repeat(3, 350px);
    }
}

@media (min-width: 1700px){

    .habilidades-container{
        grid-template-columns: repeat(4, 350px);
    }
}






