* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 0px;
}

*{
    user-select: none;
}

#particles-js{
    width: 100vw;
    position: absolute;
    background-color: #181818;
}

.mobile__button {
    position: absolute;
    right: 10px;
    top: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav__opacity {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 60px;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.59);
}

.mobile__button i {
    width: 36px;
    height: 6px;
    background-color: #D72828;
    border-radius: 1.4px;
    transition: all .4s;
}

.reload{
    position: absolute;
    left: calc( 50% - 50px);
    top: calc( 50% - 50px );
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#232323 90deg, #ededed 0deg);
    animation: reloadAnimation 3s;
    animation-iteration-count: infinite;
}

.reload-fill{
    background-color: #ededed;
    width: 85%;
    height: 85%;
    border-radius: 100px;
}

@keyframes reloadAnimation {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(720deg);
    }
}

iframe{
    display: none;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

.footer__logo:hover,.header__logo:hover{
    cursor: pointer;
}

main{
    background-color: #f2f2f2;
}

/* HEADER */

.btn{
    cursor: pointer;
}

header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    height: 60px;
    background-color: #050505;
    box-shadow: 0px 0px 1px 1px #6d6d6d;
}

.header__logo{
    position: absolute;
    top: 19px;
    left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #D72828;
    font-style: normal;
    letter-spacing: .3px;
    user-select: none;
    z-index: 10;
}

.header__nav-button-container{
    position: absolute;
    width: 40px;
    height: 50px;
    right: 10px;
    top: 5px;
}

.header__nav-button{
    position: absolute;
    left: 2px;
    top: 7px;
    background-image: url("../img/bar.svg");
    background-repeat: no-repeat;
    width: 37px;
    height: 35px;
    animation-timing-function: linear;
}


.header__nav-desktop{
    display: none;
}

@keyframes navButton {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}


/* FIN HEADER */

/* PORTADA */

#particles-js{
    height: calc( 100vh - 115px);
    min-height: 600px;
    max-height: 1200px;
}

.main__portada{
    display: flex;
    position: relative;
    max-width: 130%;
    height: calc( 100vh - 115px);
    min-height: 600px;
    max-height: 1200px;
    /* background-image: url("../img/portada_mobile.png"); */
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    box-shadow: 0px 0px 4px 0px #000;
}

.portada-title{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-self: center;
    margin: 0px 20px;

}

.portada-soy{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    animation-name: quiensoy;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function: linear;
    color: #FFFFFF;
}

.portada__autor{
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 90px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px; 
    color: #FFFFFF;
}

.portada-cv{
    width: 200px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #E3D8D8;
    background-color: #D72828;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
}

.portada-redes{
    display: flex;
    gap: 40px;
    align-self: center;
    padding-bottom: 40px;
}

.portada-redes-linkedin{
    background-image: url('../img/linkedin-white.svg');
    width: 63px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .2s;
}

.portada-redes-linkedin:hover{
    background-image: url('../img/linkedin-red.svg');
}

.portada-redes-github{
    background-image: url('../img/github-white.svg');
    width: 63px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .2s;
}

.portada-redes-github:hover{
    background-image: url('../img/github-red.svg');
}


.portada-bienvenida{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #D72828;
    animation-name: bienvenida;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    letter-spacing: 5px;
    height: 50px;
}

@keyframes bienvenida {
    0%{
        position: relative;
        left: -100vw;
        letter-spacing: 10px;
    }

    50%{
        left: 0vw;
        letter-spacing: 8px;
    }

    75%{
        left: 5vw;
        letter-spacing: 5px;
    }

    100%{
        position: static;
        letter-spacing: 5px;
    }
}


/* @keyframes quiensoy {
    0%{
        transform: scale(0.1);
    }

    50%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
} */

@keyframes quiensoy {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* FIN PORTADA */



.main__sobremi,.main__habilidades,.main__contacto,.main__portafolio{
    padding-top: 50px;
    position: relative;
}




.separador{
    height: 100px;
    width: 100%;
    background: rgba(234, 232, 232, 0.98);

}

/* SECCION SOBRE MI */

.main__sobremi{
    background-color: #ededed;
}

.main__habilidades{
    /* background-image: url("../img/portada_mobile.png");
    background-size: cover;
    background-position: center; */
    background-color: #131313;
}

.sobremi-container{
    display: flex;
    flex-direction: column;
    margin: 60px 30px 0px 30px;
    padding-bottom: 60px;
    gap: 30px;
}

.title-sobremi{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #D72828;
}

.sobremi-related{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.sobremi-foto{
    width: 70%;
    max-width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(20px 20px 0px #D72828);
    background-image: url('../img/mifoto.png');
    background-position: center;
    background-size: cover;
}
/* FIN SECCION SOBRE MI */

/* ESTILO FOOTER */

    footer{
    height: auto;
    width: 100%;
    }

    .copyright{
        height: 60px;
        background: #222222;
        border-top: 1px solid #666;
        z-index: 1;
    }

    .footer__copyright{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 23px;
    }


    @media (min-width: 500px){
    

        .footer__copyright{
            font-size: 13px;
        }
    
    }
/* FIN ESTILO FOOTER */




li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

/* ESTILO HABILIDADES */

    .main__habilidades{
        padding-bottom: 50px;
    }

    .habilidades-title{
        text-align: center;
        padding-bottom: 30px;
    }

    .habilidades-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
        width: fit-content;
    }



/* FIN ESTILO HABILIDADES */

/* SECCION PORTAFOLIO */

.main__portafolio{
    background-color: #ededed;
}

.portafolio-title{
    padding-bottom: 0px;
    color: #000;
}

.portafolio-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.proyecto{
    height: 250px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #000;
}

.btnAtras,.btnSiguiente{
    width: 110px;
    height: 40px;
    font-size: 18px;
}

.portafolio-selector{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.portafolio-selector-d{
    display: none;
}

.portafolio-counter{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.portafolio-counter-title{
    display: none;
}


/* FIN SECCION PORTAFOLIO */

/* SECCION CONTACTO */

.main__contacto{
    background-color: #131313;
}

.contacto-title{
    text-align: center;
    padding-bottom: 10px;
}

.contacto-container form button{
    height: 45px;
    background: #D72828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.agrupacion label{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 2px;
}

.agrupacion input{
    width: 100%;
    height: 50px;
    padding-left: 7px;
    background: #D9D9D9;
    border: 1px solid #D72828;
    outline: none;
    font-size: 17px;
}

.agrupacion textarea{
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    padding: 10px;
    background: #D9D9D9;
    border: 1px solid #D72828;
    width: 100%;
}

.contacto-redes__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;
}

.contacto-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px;
    padding: 30px;
}


.contacto-redes{
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: auto;
    width: 100%;
    margin: 30px 0;
}


.contacto-tel span{
    display: inline-block;
    background-image: url(../img/tel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    color: white;
}

.contacto-tel, .contacto-correo{
    align-self: center;
    
}

.contacto-tel p, .contacto-correo p{
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    user-select: text;
}

.redes-title{
    text-align: center;
    font-size: 30px;
    color: #D72828;
}

.contacto-correo span{
    display: inline-block;
    background-image: url(../img/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.proyecto1,.proyecto2,.proyecto3{
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    padding-top: 110px;
}
.contacto-redes__fondo{
    display: none;
}

.contacto-correo p,.contacto-tel p{
    font-size: 14px;
    font-weight: 700;
}

.header__nav-mobile{
    position: absolute;
    top: 61.8px;
    right: -1000px;
    width: 80%;
    transition: .5s;
    max-width: 350px;
    background-color: rgba(8, 8, 8, 0.7);
    box-shadow: 0px 0px 4px 0px #000;
}

.header__nav-mobile .portada-redes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.indexeado{
    position: relative;
    bottom: 59.8px;
}

.header__nav-mobile .portada-redes span{
    height: 50px;
    width: 50px;
}

.header__nav-list{
    position: relative;
}

.header__nav-list li{
    position: relative;
    padding-top: 15px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, .9);
    border-top: 1px solid #D72828;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    height: 50px;
}

.header__nav-list li:last-child{
    border-bottom: 1px solid #D72828;
}

.header__nav-list li i{
    position: absolute;
    left: 10px;
    top: 13px;
    padding: 0px 10px;
    width: 25px;
    height: 25px;
    background-size: contain;
}

@media (min-width: 340px){
    .header__nav-list li{
        padding-top: 24px;
        height: 70px;
    }

    .header__nav-list li i{
        width: 31px;
        height: 31px;
        top: 18px;
    }

    .header__nav-list li:nth-child(2) i{
        top: 21px;
    }
}

.nav-sobremi{
    border-bottom: .3px solid #000;
    border-right: .3px solid #000;
}

.nav-habilidades{
    border-bottom: .3px solid #000;
}

.nav-portafolio{
    border-right: .3px solid #000;
}


.header__nav-list a{
    padding: 50px 20px;
}

.nav-sobremi i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../img/sobremi.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.nav-habilidades i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../img/habilidades.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 37px;
}

.nav-portafolio i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../img/portafolio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 31px;
    width: 27px;
}

.nav-contacto i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../img/contacto.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.icon-habilidades{
    display: inline-block;
    background-image: url(../img/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.icon-portafolio{
    display: inline-block;
    background-image: url(../img/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.icon-contacto{
    display: inline-block;
    background-image: url(../img/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

@media (max-width: 340px) {

    .header__nav-list li{
        font-size: 14px;
        
    }
    
  }

@media (max-width: 310px) {
    .contacto-correo p,.contacto-tel p{
        font-size: 13px;
        font-weight: 700;
    }

    .header__nav-list li{
        font-size: 12px;
    }

    .portada__title{
        font-size: 30px;
    }
    
  }

@media (max-width: 283px) {
    .contacto-correo p,.contacto-tel p{
        font-size: 12px;
        font-weight: 700;
    }

}