* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

header{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #000;
}

.header__logo{
    display: inline-block;
    position: absolute;
    top: calc( 50% - 16px );
    left: 10px;
    background-image: url("../src/logo.svg");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__nav-button-container{
    position: absolute;
    top: calc( 50% - 21px );
    right: 6px;
    padding: 2px 8px;
    border-radius: 100px;
}

.header__nav-button{
    position: relative;
    top: 2px;
    display: inline-block;
    background-image: url("../src/bar.svg");
    width: 27px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.header__nav-button-container:active{
    background-color: rgba(225, 224, 224,.5);
}



.header__nav{
    display: none;
}

.main__portada{
    display: flex;
    position: relative;
    width: 100%;
    height: calc( 100vh - 100px);
    min-height: 370px;
    max-height: 500px;
    background-image: url("../src/portada-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 0px 4px 0px #000;
}

.main__sobremi,.main__habilidades,.main__contacto,.main__portafolio{
    padding-top: 50px;
    position: relative;
}


.portada__autor{
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #fff;
    width: 70px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, .7);
}

.portada__title{
    position: relative;
    color: #fff;
    padding: 0 20px;
    top: 100px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, .4);
    font-style: normal;
    font-weight: 200;
    font-size: 38px;
    text-align: center;
    line-height: 38px;
}

.separador{
    display: flex;
    width: 100vw;
    height: 120px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 50px;
}

.sobremi-container{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0px 30px;
    gap: 30px;
}

.sobremi-foto{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #000;
    height: 400px;
}

.sobremi-container p{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

footer{
    display: flex;
    width: 100vw;
    height: 200px;
    border-top: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.footer__logo{
    display: inline-block;
    top: calc( 50% - 16px );
    left: 10px;
    background-image: url("../src/logo.svg");
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.habilidades__table{
    margin: 30px 30px 0px 30px;
}

.habilidades__table-list{
    display: flex;
    box-shadow: 0px 0px 4px 0px #000;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-direction: column;
    padding: 20px 15px;
    max-width: 300px;
    margin: 0 auto;
}

.habilidades__table-list li{
    font-weight: 800;
}

.habilidades__table-list div{
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 10px;
    box-shadow: 0px 0px 4px 0px #000;
    border: 1px solid #000;
    width: 70%;
    height: 20px;
    background: linear-gradient(90deg, rgb(1, 83, 1) 80%, rgb(255, 255, 255) 0%);
}


.portafolio-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.proyecto{
    height: 250px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #000;
}

.contacto-container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}


.contacto-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 30px;
    box-shadow: 0px 0px 4px 0px #000;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

.contacto-container form input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: rgba(255, 255, 255, .9);
    outline: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.contacto-container form button{
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

.contacto-container form textarea{
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: rgba(255, 255, 255, .9);
    /* outline: 2px solid rgb(1, 83, 1); */
    outline: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.contacto-redes{
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: auto;
    width: 100%;
    margin: 30px 0;
}



.contacto-github{
    display: inline-block;
    background-image: url(../src/github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 55px;
}

.contacto-linkedin{
    display: inline-block;
    background-image: url(../src/linkedin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 55px;
}

.contacto-tel span{
    display: inline-block;
    background-image: url(../src/tel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.contacto-container p{
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-left: 10px;
}

.contacto-correo span{
    display: inline-block;
    background-image: url(../src/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.proyecto1,.proyecto2,.proyecto3{
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    padding-top: 110px;
}

.contacto-correo p,.contacto-tel p{
    font-size: 14px;
    font-weight: 700;
}

.header__nav{
    position: absolute;
    top: 51px;
    right: 1px;
    width: 80%;
    max-width: 350px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #000;
}

.header__nav-list{
    display: grid;
    margin-bottom: 30px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 4px 0px #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header__nav-list li{
    display: flex;
    position: relative;
    padding: 30px 20px;
    font-weight: 700;
    font-size: 16px;
    flex-direction: column;
    gap: 15px;
}

.nav-sobremi{
    border-bottom: .3px solid #000;
    border-right: .3px solid #000;
}

.nav-habilidades{
    border-bottom: .3px solid #000;
}

.nav-portafolio{
    border-right: .3px solid #000;
}


.header__nav-list a{
    padding: 50px 20px;
}

.nav-sobremi i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../src/sobremi.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.nav-habilidades i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../src/habilidades.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 37px;
}

.nav-portafolio i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../src/portafolio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 31px;
    width: 27px;
}

.nav-contacto i{
    display: inline-block;
    margin: 0 auto;
    background-image: url(../src/contacto.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.icon-habilidades{
    display: inline-block;
    background-image: url(../src/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.icon-portafolio{
    display: inline-block;
    background-image: url(../src/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.icon-contacto{
    display: inline-block;
    background-image: url(../src/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

@media (max-width: 340px) {

    .header__nav-list li{
        font-size: 14px;
        
    }
    
  }

@media (max-width: 310px) {
    .contacto-correo p,.contacto-tel p{
        font-size: 13px;
        font-weight: 700;
    }

    .header__nav-list li{
        font-size: 12px;
    }

    .contacto-container form input,.contacto-container form textarea{
        font-size: 13px;
    }

    .portada__title{
        font-size: 30px;
    }
    
  }

@media (max-width: 283px) {
    .contacto-correo p,.contacto-tel p{
        font-size: 12px;
        font-weight: 700;
    }

}