.proyecto{
    height: 300px;
    max-width: 500px;
    margin: 30px auto;
}

.proyecto1,.proyecto2,.proyecto3{
    padding-top: 140px;
}

.portada-title{
    max-width: 400px;
}

.portada-bienvenida{
    font-size: 30px;
}

.portada-soy{
    font-size: 44px;
    width: 100%;
}

.main__portada{
    background-image: url("../img/portada-tablet.png");
}

.sobremi-foto{
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}

.habilidades-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades__card{
    width: 400px;
    position: static;
    margin: 20px;
}

/* .habilidades-title,.portafolio-title,.contacto-title{
    text-align: start;
    padding-left: 25px;
} */

.contacto-correo p,.contacto-tel p{
    font-size: 18px;
}

@media (min-width: 700px) {
    .portafolio-container{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

}

@media (min-width: 880px) {

    .habilidades__card:first-child{
        margin-top: 20px;
        margin-bottom: 20px;
    }

}




