.main__sobremi{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 0;
}

.main__portada{
    box-shadow: none;
    background-image: url('../img/portada-desktop.png');
    height: calc( 100vh - 60px );
}

.portada-title{
    align-items: flex-start;
    max-width: none;
    width: 100%;
    text-align: start;
    padding-left: 70px;
}

.portada-soy{
    text-align: start;
}

.portada-cv,.portada-redes{
    align-self: flex-start;
}

main{
    background-color: #ededed;
}

/*Sobre mi*/

.sobremi{
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}

.sobremi,.main__habilidades,.main__portafolio{
    min-height: calc( 100vh - 60px );
}

.main__sobremi{
    width: 100%;
    height: fit-content;
    background-color: #131313;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 1px rgb(0, 0, 0);
}

.title-sobremi{
    font-size: 38px;
    color: rgb(215, 40, 40);
}

.sobremi-related{
    color: #E8E8E8;
}

.sobremi-container{
    width: 700px;
}

.sobremi-foto{
    transform: scale(1.1);
    width: 400px;
}

.portada-bienvenida{
    font-size: 32px;
}
.portada-soy{
    font-size: 44px;
}

@media (min-width: 1500px){
    .portada-bienvenida{
        font-size: 36px;
    }
    .portada-soy{
        font-size: 54px;
    }
}

/*Habilidades*/

.habilidades-container{
    padding: 80px 70px;
}

.habilidades-title{
    text-align: start;
    padding-left: 30px;
    font-size: 38px;
}

/* Contacto */

.contacto-title{
    text-align: start;
    padding-left: 30px;
    font-size: 38px;
}

.contacto-container{
    display: flex;
    max-width: 1200px;
    padding: 70px 0px;
}

.contacto-redes__container {
    justify-content: flex-start;
    padding-top: 30px;
    align-items: flex-start;
}

.contacto-tel,.contacto-correo{
    align-self: flex-start;
}












@media (min-width: 1300px){

    .habilidades-container{
        grid-template-columns: repeat(3, 350px);
    }
}

@media (min-width: 1700px){

    .habilidades-container{
        grid-template-columns: repeat(4, 350px);
    }

    iframe{
        display: inline-block;
        margin-left: 80px;
        box-shadow: 0px 0px 4px 1px #000;
        border-radius: 5px;
    }

    .contacto-container{
        display: flex;
        max-width: 1800px;
        padding: 70px 0px;
    }

    
}

/* Header */

.header__nav-mobile,.header__nav-button-container{
    display: none;
}

header{
    box-shadow: none;
}

.header__nav-desktop{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.header__nav-list-d{
    display: flex;
    gap: 55px;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

.header__nav-list-d li{
    cursor: pointer;
}


.header__nav-list-d li:hover{
    color: #D72828;
}

/* Portafolio */

.portafolio-container{
    padding-top: 20px;
    height: 750px;
}

 

.portafolio-selector{
    display: none;
}

.portafolio-selector-d{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.portafolio-selector-d button{
    position: relative;
    top: -420px;
    width: 50px;
    border: none;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.portafolio-selector-d button:hover{
    font-size: 75px;
}